/* 
COLORS
*/

/*
FONT SIZES
*/
$line-height: 1.25rem;
$jumbo-size: 4.5rem;
$heading-one-size: 2rem;
$heading-two-size: 1.5rem;
$subheading-one-size: 1.25rem;
$subheading-two-size: 1.125rem;
$button-text-size: 1.125rem;
$default-text-size: 100%;
$error-size: .75rem;
$small-text-size: .75rem;
$subtext-size: .625rem;

/*
ICON SIZES
*/
$small-icon-size: 1rem;
$default-icon-size: 1.5rem;
$large-icon-size: 2.75rem;
$xlarge-icon-size: 4.5rem;

/*
BREAKPOINTS
*/
$tablet: 30em; // 480px @ 16px base
$tablet-wide: 48em; // 768px
$desktop: 62em; // 992px
$desktop-wide: 75em; // 1200px

/*
GRID
*/
// mobile
$mobile-cols: 4;
$mobile-margins: 1rem;
$mobile-gutters: 1rem;
// tablet
$tablet-cols: 8;
$tablet-margins: 1rem;
$tablet-gutters: 1rem;
// tablet-wide
$tablet-wide-cols: 8;
$tablet-wide-margins: 1.5rem;
$tablet-wide-gutters: 1.5rem;
// desktop
$desktop-cols: 12;
$desktop-margins: 1.5rem;
$desktop-gutters: 1.5rem;
// desktop-wide
$desktop-wide-cols: 12;
$desktop-wide-margins: 1.5rem;
$desktop-wide-gutters: 1.5rem;
